:root {
  --main-bg-color: linear-gradient(131deg, #59167C 8.87%, #C1A4E9 73.32%);
  --light-bg-color: #C1A4E9;
}

.sidebar {
  background: var(--main-bg-color);
  color: #fff;
  overflow-y: auto;
  height: 100vh;
  padding-left: 0.2rem;
}

 .sidebar-menu.active {
  background: var(--light-bg-color);
  border-radius: 4px;
  color: #723997;
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  padding: 0.5rem ;

}

.sidebar-menu {
  display: flex;
  align-items: center;
  padding: 1.5rem 0rem 0 0.5rem;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  text-decoration: none;
} 

.bars {
  padding: 3rem 0 0 0;
  font-size: 1.5rem;
  color: #fff;
}

.icon {
  font-size: 22px;
}

/* dasborad start */
.dashboardbox {
  text-align: center;
  padding: 3rem 1rem;
  background: #723997;
  box-shadow: 0px 4px 5px 0px rgba(193, 164, 233, 0.73);
  color: #fff;
  border-radius: 0.5rem;
}

/* dasborad end */

.full-screen {
  height: 100%;
  width: 100%;
  max-Height: 55rem;
  overflow-Y: scroll;
}
label{
  font-size: 1rem;
  padding-bottom: 0.5rem;
  font-weight: 600;
}

.submenu {
  text-decoration: none;
  color: #fff;
  display: flex;
  padding: 0.5rem 0 0 0;
}

.submenu {
  color: #fff; 
  background-color: transparent; 
  padding: 0.8rem; 
  display: flex;
  align-items: center;
  width: 12rem;
  border-radius: 0.5rem;
}

.submenu.active {
  color: white; 
  background-color: var(--light-bg-color, #C1A4E9); 

}

