:root {
  --main-bg-color: linear-gradient(131deg, #59167C 8.87%, #C1A4E9 73.32%);
  --light-bg-color: #C1A4E9;
}
.sidebar {
  background: var(--main-bg-color);
  color: #fff;
  transition: width 0.3s ease;
  overflow-y: auto;
  height: 100vh;
}
.sidebar .logo {
  text-align: center;
  font-size: 24px;
  margin: 3rem;
}
.link {
  display: flex;
  align-items: center;
  padding: 20px;
  color: #fff;
  text-decoration: none;
  transition: background-color 0.3s ease;
}
.link:hover {
  background: var(--light-bg-color);
  border-radius: 4px;
  width: 174px;
}
.bars {
  margin-top: 3rem;
  font-size: 1.5rem;
  color: #fff;
}
/* dasborad start */
.dashboardbox {
  text-align: center;
  padding: 3rem 1rem;
  background: #723997;
  box-shadow: 0px 4px 5px 0px rgba(193, 164, 233, 0.73);
  color: #fff;
  border-radius: 0.5rem;
}
/* dasborad end */
