:root {
  font-family: 'Poppins', sans-serif;
}
body {
  margin: 0;
  width: 100%;
  font-family: 'Poppins', sans-serif;
}
a{
  text-decoration: none;
  color: #000;
}
li{
  list-style: none;
}
.app {
  display: flex;
  position: relative;
}

.content {
  height: 100%;
  width: 100%;
}